* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background:linear-gradient(to left, #E6DADA, #274046);
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
}
.topnav img{

  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.text{
  border-style: solid;
  border-radius: 5px;
  padding: 50px;
  margin: 50px;
  background: white;
  box-shadow: 10px 10px 5px grey;
}

.text dd p a{
  text-decoration: none;
  color: #f00;
}

table.VideoContainerFormats {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

table.VideoContainerFormats td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}

table.VideoContainerFormats th {
    background: #DFDFDF;
    font-weight: bold;
}

table.VideoContainerFormats td {
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #666; color: #FFF; }
