* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #201E1E;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}
.text
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
}

.text h2{
  color: #f00;
}
table.LinkedPages {
    float: right;
    margin-top: 200px;
    margin-right: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

table.liveStreaming td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}

table.liveStreaming th {
    background: #DFDFDF;
    font-weight: bold;
}

table.liveStreaming td {
    background: #FAFAFA;
    text-align: center;
}
table.liveStreaming a {
    text-decoration: none;
    color: black;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #666; color: #FFF; }

.back-Button a{
  text-decoration: none;
  color: #f00;
  font-size: 25px;
}
