* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: rgb(24,24,24);
}
.header {
    padding: 30px;
    text-align: center;
    background: rgb(160, 160, 160);
}
.header h1 {
    font-size: 50px;
}
.text{
  border: 1px solid white;
  padding: 60px;
  width: 1500px;
  height: 700px;
  text-align: justify;
  font-size: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}

table.liveStreaming{float:right;}

table.liveStreaming tr th,td{
  border: 1px solid black;
  width: 150px;
  height: 50px;
  font-size: 19px;
}
table.liveStreaming tr td{
  text-align: center;
}

table.liveStreaming tr td a:link{
  color:red;
  text-decoration: none;
}

table.liveStreaming tr td a:visited{
  color:red;
  text-decoration: none;
}
.back-Button a{
  text-decoration: none;
  color: #f00;
  font-size: 25px;
}
