
body {
    font-family: Arial;
      background: linear-gradient(to left, #E6DADA, #274046);
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}

#carousel
{
    margin: 20px;
    padding: 20px;
}
.historyOfStreaming {
    border-style: solid;
    border-radius: 5px;
    padding: 50px;
    margin: 50px;
    background: white;
    box-shadow: 10px 10px 5px grey;
}

.historyOfStreaming  a{
  text-decoration: none;
  color: #f00;
}
