* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: linear-gradient(to left, #E6DADA, #274046);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}
.text
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
}

.textext h2{
  color: #f00;
}
table.onDemandStreaming
{
  float:right;
}


table.onDemandStreaming tr th,td{
  border: 1px solid black;
  width: 150px;
  height: 50px;
  font-size: 19px;
}
table.onDemandStreaming tr td{
  text-align: center;
}

table.onDemandStreaming tr td a:link{
  color:red;
  text-decoration: none;
}

table.onDemandStreaming tr td a:visited{
  color:red;
  text-decoration: none;
}

.back-Button a{
  text-decoration: none;
  color: #f00;
  font-size: 25px;
}
