@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);

* {
    box-sizing: border-box;
}

body
{
  font-family: Arial;
  background: #201E1E;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: white;
}

.topnav img{
  float: right;
}
.InformationText
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
}

body
{
  background:#10e88a;
  color:#fff; font-family: 'Roboto', sans-serif;
  margin:0;
  transition:all 200ms;
  will-change:background;
}

article
{
  display:block;
  width:100%;
  text-align:right;
  height:100vh;
  margin:6em 0 0 0;
}

h1{font-size:15em; font-weight:900; margin:0 0.1em; }
article p{width:50%; float:right; font-size:1.1em; margin:0 2em;}
.clear{clear:both;}

#netflix h2{
  color: #f00;
}

#amazon h2 {
  color: #23D6F3;
}

#hulu h2 {
  color: #9BF323;


.inputField
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
}
