* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #201E1E;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}
.StartSiteText
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
}

.StartSiteText h2{
  color: #33FFC7;
}
.inputField
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
}
