body{
  margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: white;
	text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}

#answer
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  height: 30px;
  width: 100px;
  position: absolute;
  left: 40%;
  margin: 50px;
  padding: 50px;
}   

#reset, #submit
{
  position: absolute;
  left: 40%;
  margin-left: 50px;
  margin-top: 750px;
}
#submit
{
  margin-right: 70px;
}

#gauge
{
  margin: 0 auto 4.5em;
   width: 450px;
   height: 50px;
   display: block;
}

#btn-prev, #btn-finish
{
  display: none;
}

table.LinkedPages {
    float: right;
    margin-top: 200px;
    margin-right: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

table.LinkedPages td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}

table.LinkedPages th {
    background: #DFDFDF;
    font-weight: bold;
}

table.LinkedPages td {
    background: #FAFAFA;
    text-align: center;
}
table.LinkedPages a {
    text-decoration: none;
    color: black;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #666; color: #FFF; }

#questionBlock {
  width: 600px;
	padding: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	background: #666;
	border: 5px solid #ccc;
	text-align:left;
	width: 400px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 370px;

}

.button-bar {
  margin: 22px; auto;
  height: auto;
  padding: 22px * 2;
}

.button{
  position: relative;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: (22px / 5);
  padding-bottom: (22px / 5);
  background: #0d5287;
  color: white;
  font-size: 14px;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.button:hover { background: #0585e8; }

.next::after, .prev::after { border-style: solid; }

.next::after {
  right: -22px;
  border-width: 22px / 2;
  border-color: transparent transparent transparent #0d5287;
}

.next:hover::after {
  border-left-color: #0585e8;
}

.prev::after {
  left: -22px;
  border-color: transparent #0d5287 transparent transparent;
  border-width: 22px / 2;
}

.prev:hover::after {
  border-right-color: #0585e8;
}
