body{
	background-color: white;
	text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: white;
}

.topnav img{
  float: right;
}

#answer
{
	padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
	width: 500px;
	text-align:left;
	background: #666;
	border: 5px solid #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	voice-family: "\"}\"";
	voice-family:inherit;
	color: black;
}


#btn-finish
{
	display: none !important;
  border-radius: 4px;
  background-color: white;
  border: none;
	margin-top: 64px;
	margin-left: 330px;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
	position: fixed;
}

#questionBlock {
	padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
	text-align:left;
	background: #666;
	border: 5px solid #ccc;
	margin: auto;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 500px;
	height: 300px;
}

#question
{
	text-align:center;
	margin-bottom: 10px;
	line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
#btn-next{
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
	margin-top: 90px;
	margin-left: 330px;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
	position: fixed;
}

#btn-prev
{
	display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
	margin-top: 90px;
	margin-right: 300px;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
	position: fixed;
}

#btn-next span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

#btn-next span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn-next:hover span{
  padding-right: 25px;
}

#btn-next:hover span:after{
  opacity: 1;
  right: 0;
}
#btn-refresh
{
  border-radius: 4px;
  background-color: white;
  width: 80px;
}
progress {
  display: block; /* default: inline-block */
  width: 300px;
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: #444;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);

}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 12px;
  background: #2ECC40;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
}

body {
	background: #555;
}

h1 {
	color: #eee;
	font: 30px Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px black;
	text-align: center;
	margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
}
p {
  text-align:center;
}
button {
  border: 0;
  background: #FFF;
  width: 25px;
  margin: 0 10px;
  line-height: 23px;
  font-weight: bold;
  color: #555;
  border-radius: 4px;
  box-shadow: inset 0 -2px 3px rgba(0,0,0,.4), 0 2px 5px rgba(0,0,0,0.5);
}
#netflix-bar {
    display: none;
    margin-left: -50px;
		margin-top: 100px;
    transform: rotate(-90deg);
		height: 30px;
		width: 200px;
}
#ap-bar
{
	display: none;
	margin-bottom: 50px;
	transform: rotate(-90deg);
	height: 30px;
	width: 200px;
}
.disabled-button
{
	cursor: not-allowed !important;
}
#answer a
{
	text-decoration: none;
	color: black;
}
