#block2 {
    display: none;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}

#block1,#block2,#block3
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
  height: 200px;
  width: 200px;
  text-align: center;
}

#answer
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
  height: 30px;
  width: 100px;
}
