
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  }
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav img{
  float: right;
}

#answer
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  height: 30px;
  width: 100px;
  position: absolute;
  left: 40%;
  margin-left: 50px;
  margin-top: 650px;
}

#reset, #submit
{
  position: absolute;
  left: 40%;
  margin-left: 50px;
  margin-top: 750px;
}
#submit
{
  margin-right: 70px;
}

#button1, #button2, #button3, #button4, #button5, #button6
{
  text-align: center;
}

#block1, #block2, #block3, #block4, #block5, #block6, #block7
{
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  padding: 50px;
  box-shadow: 10px 10px 5px grey;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 35%;
  margin-left: 50px;
  text-align: center;
  font-size: 30px;
}
#block2, #block3, #block4, #block5, #block6, #block7
{
  visibility: hidden;
}
